---
http_interactions:
- request:
    method: get
    uri: http://powerapi.blueyes.nl/v1/weapons/1/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Power Sword","type":"sword","ranger":{"id":1,"name":"Red
        Ranger","color":"red"},"images":[{"url":"http://powerapi.blueyes.nl/static/media/weapons/Power_Sword.jpg"}]}'
  recorded_at: Sat, 09 Apr 2016 18:08:53 GMT
recorded_with: VCR 3.0.1
