---
http_interactions:
- request:
    method: get
    uri: http://powerapi.blueyes.nl/v1/weapons/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":7,"name":"Dragon Dagger","type":"dagger","ranger":{"id":6,"name":"Green
        Ranger","color":"green"},"images":[]},{"id":2,"name":"Power Axe","type":"dagger","ranger":{"id":5,"name":"Black
        Ranger","color":"black"},"images":[]},{"id":6,"name":"Power Blaster","type":"dagger","ranger":null,"images":[]},{"id":5,"name":"Power
        Bow","type":"dagger","ranger":{"id":4,"name":"Pink Ranger","color":"pink"},"images":[]},{"id":4,"name":"Power
        Daggers","type":"dagger","ranger":{"id":2,"name":"Yellow Ranger","color":"yellow"},"images":[]},{"id":3,"name":"Power
        Lance","type":"dagger","ranger":{"id":3,"name":"Blue Ranger","color":"blue"},"images":[]},{"id":1,"name":"Power
        Sword","type":"sword","ranger":{"id":1,"name":"Red Ranger","color":"red"},"images":[{"url":"http://powerapi.blueyes.nl/static/media/weapons/Power_Sword.jpg"}]}]'
  recorded_at: Sat, 09 Apr 2016 18:08:53 GMT
recorded_with: VCR 3.0.1
