---
http_interactions:
- request:
    method: get
    uri: http://powerapi.blueyes.nl/v1/rangers/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Red Ranger","color":"red","weapon":{"id":1,"name":"Power
        Sword","type":"sword"},"zords":[{"id":15,"name":"Red Dragon Thunderzord","type":"thunderzord"},{"id":1,"name":"Tyrannosaurus
        Dinozord","type":"dinozord"}],"images":[{"url":"http://powerapi.blueyes.nl/static/media/rangers/Mmpr-red.png"}]}'
  recorded_at: Fri, 08 Apr 2016 18:24:27 GMT
recorded_with: VCR 3.0.1
